<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Core Automation Test Suite - Cross Browser" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.automation.listeners.TestListener"/>
        <listener class-name="com.automation.listeners.RetryListener"/>
    </listeners>

    <!-- Chromium Browser Tests -->
    <test name="Chromium - MultiBank Tests" parallel="methods" thread-count="2">
        <parameter name="browser" value="chromium"/>
        <packages>
            <package name="com.automation.multibank"/>
        </packages>
    </test>

    <!-- Firefox Browser Tests -->
    <test name="Firefox - MultiBank Tests" parallel="methods" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.automation.multibank"/>
        </packages>
    </test>

    <!-- WebKit Browser Tests -->
    <test name="WebKit - MultiBank Tests" parallel="methods" thread-count="2">
        <parameter name="browser" value="webkit"/>
        <packages>
            <package name="com.automation.multibank"/>
        </packages>
    </test>

</suite>